*{
  margin:0;
  padding:0;
}

body{
  background-image:url('https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?cs=srgb&dl=caffeine-coffee-coffee-beans-585750.jpg&fm=jpg');
  background-size:cover;
  display:flex;
  margin-top:10%;
  margin-left:250px;
  padding-bottom:200px;
}

.container{
  width:28%;
  background-image: linear-gradient(to right,rgb(12, 4, 4,0.6),rgb(12, 4, 4,0.7));
  box-shadow:3px 4px 5px black;
}

h2{
  text-align:center;
  padding:12px;
  color:#ffebcd;
  margin-top:10px;
}

input[type="text"],input[type="password"]{
  width:80%; 
  padding:12px;
  background-color:transparent;
  border:none;
  border-bottom:2px solid white;
}

input::placeholder{
  color:white;
  font-size:15px;
}

input{
  color:white;
  font-size:17px;
}


input[type="text"]{
  margin:19px 0px 10px 15px;
}

input[type="password"]{
  margin:12px 0px 10px 15px;
}

input[type="checkbox"]{
  margin:15px 0 10px 35px;
  color:white;
}

.remember-forgot label {
  color: white;
  font-size:16px;
}

.register-link{
  margin:20px 0 20px 42px;
  color:white;
}

.register-link a{
  margin-left:22px;
  text-decoration:none;
  color:white;
}

.remember forgot{
  color:white;
}

.remember-forgot a{
   margin-left:15px;
  text-decoration:none;
  color:white;
}

.remember-forgot label input[type="checkbox"] {
    margin-right:5px;
}

.btn{
  width:90%;
  height:5vh;
  color:#3d2b1f;
  background-color:#ffebcd;
  border:1px solid #ffebcd;
  cursor:pointer;
  font-size:15px;
  margin:10px 10px 20px 15px;  
  border-radius:20px;
}

.btn:hover{
  background-color:#a0785a;
  border:1px solid #a0785a;
  color:white;
}





