body{
    background-image:url('https://wallpapercave.com/wp/wp3794535.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

p{
   font-size:22px;
   margin:20% 0 0 53%; 
   border:1px solid #F5F5F5;
   border-radius:10px;
   width:32%;
   padding:10px;  
   box-shadow:0px 0px 10px #DCDCDC;
   background-color:#F5F5F5;
}

